st-datepicker-topnav {
    display: flex;
    justify-content: flex-start;

    .calendar-icon {
        padding: 5px;
        width: 34px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-item {
        border-bottom: 4px solid #424848;

        &:first-child {
            margin-right: 1px;
        }

        &:last-child {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }
    }

    border-bottom: 1px solid #fff;
}