st-datepicker-footer {
    .st-footer {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        padding-bottom: 15px;
        &__btn {
            text-decoration: none;
            cursor: pointer;
            padding: 3px 10px;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #1bd4aa;
            text-transform: uppercase;
            &:last-child {
                padding-right: 20px;
            }
        }
    }
}