st-datepicker-footer {
    .footer {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        .btn {
            cursor: pointer;
            padding: 3px 20px;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #1bd4aa;
            text-transform: uppercase;
        }
    }
}