st-datepicker-inner {
    .st-datepicker-inner {
        &.st-datepicker-nav {
            background-image: linear-gradient(rgba(222, 222, 222, .15), #fff);
        }

        &__weeks,
        &__dates {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            color: rgba(0, 0, 0, 0.87);

            &__item {
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                cursor: pointer;

                * {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &--active {
                    background-color: #1bd4aa;
                    border-radius: 50%;
                    color: #fff;
                }

                &--today {
                    border: 1px solid #dc3545;
                }

                &--in-range {
                    background-color: #1BD4AAC0;
                    border-radius: 0;
                    color: #fff;
                }

                &--is-start {
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    color: #fff;
                    background-color: #1BD4AAC0;
                }

                &--is-end {
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    color: #fff;
                    background-color: #1BD4AAC0;
                }
            }
        }

        &__header {
            span {
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }
}